body{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    background: #000;
    height: 80px;
    width: 100vw;
    /* flex-direction: ; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav > a{
    text-decoration: none;
    border-width: 1px;
    border-color: red;
    border-radius: 1px;
    border-style: solid;
    padding: 5px;
    background: #fff;
    /* width: 50px;
    min-width: 50px;
    max-width: 50px; */
}

nav > a:hover{
    background: blue;
}